Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.2
Flask-WTF==1.1.1
Flask-Limiter==3.5.0
Flask-Migrate==4.0.5
SQLAlchemy==2.0.20
Werkzeug==2.3.7
pyserial==3.5
python-dotenv==1.0.0
psutil==5.9.5
click==8.1.7
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
blinker==1.6.2
bcrypt==4.0.1
redis==5.0.1
pyOpenSSL==23.2.0
cryptography==41.0.4
email-validator==2.0.0
Flask-SeaSurf==1.1.1
Flask-Talisman==1.1.0
gunicorn==21.2.0
alembic==1.12.1
XlsxWriter==3.1.9
psycopg2-binary==2.9.9
requests==2.31.0
Flask-Mail==0.9.1
eventlet==0.33.3
